<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="studentlist">StudentList</a>
        <a href="courselist">CourseList</a>
        <a href="regcrs">Course Registration</a>
        <a href="regstd">Student Registration</a>
        <a href="enrollment">Enrollment</a>
    </nav>
    <div>
        {%block content%}
        {%endblock%}
    </div>
</body>
</html>